heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 20px;
    color:#ccc;
    background-color: #3d3d3d;
    border:1px solid #3d3d3d;
}